// partial sass files
/* Universal Selector -> a global reset of sorts*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* forcing inheritance */
  box-sizing: inherit;
}

/* set root font size for rem as 10 px */
/* can use for responsve design, makes resizing font easier */
/* default is 16 px */
html {
  // defines 1 rem:
  font-size: 62.5%; // 1 rem = 10px -> 10px/16px = 62.5

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px -> 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; // 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
